@import "tailwindcss";

@theme{

  --color-background: #2B160D;
  --color-text-body: #C9B79C;
  --color-text-darker: #F0B186;
  --color-accent-outer: #59402D; /*#734F31*/
  --color-accent-inner: #4D4827; /*#50492F*/


  --color-card-offer: oklch(0.5756 0.0288 84.56);
  --color-card-offer-lighter: oklch(0.8256 0.0288 84.56);
  --color-card-offer-darker: oklch(0.4356 0.0288 84.56);
  
  --color-card-applied: oklch(0.42 0.0258 10.97);
  --color-card-applied-lighter: oklch(0.72 0.0258 10.97);
  --color-card-applied-darker: oklch(0.27 0.0258 10.97);

  --color-card-interview: oklch(0.47 0.0221 276.56);
  --color-card-interview-lighter: oklch(0.7245 0.0221 276.56);
  --color-card-interview-darker: oklch(0.2807 0.0221 276.56);

  --color-card-rejected: oklch(0.4519 0.0778 13.35);
  --color-card-rejected-lighter: oklch(0.8276 0.0778 13.35);
  --color-card-rejected-darker: oklch(0.3874 0.0778 13.35);

  --color-card-ghosted: oklch(0.5562 0.0213 152.14);
  --color-card-ghosted-lighter: oklch(0.8 0.0213 152.14);
  --color-card-ghosted-darker: oklch(0.3 0.0213 152.14);
  
  --color-card-accepted: oklch(0.5342 0.0371 137.69);
  --color-card-accepted-lighter: oklch(0.7408 0.0371 131.85);
  --color-card-accepted-darker: oklch(0.35 0.0371 131.85);

  --font-header: "Caudex", Georgia, "Times New Roman", Times, serif;
  --font-body-text: "Work Sans", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;

  --inset-shadow-card: inset 0 0 3.15em 1.37em rgba(0,0,0,.355); 

  --animate-falldown: falldown .30s 0s linear 1 forwards;
  --animate-falldown-reverse: falldownReverse .30s 0s linear 1 forwards;
  --animate-revealcard: revealCard .30s 0s ease 1 forwards;
  --animate-fadeIn: fadeIn .25s 0s ease-out 1 forwards;
  --animate-slideRightIn: slideRightIn .45s 0s linear 1 forwards;

  @keyframes falldown{
    0%{
      opacity: 0;
      transform:translateY(-30vh);
    }
    25%{
      opacity: 0%;
    }
    100%{
      opacity: 1;
      transform:translateY(0)
    }
  }

  @keyframes falldownReverse{
    0%{
      opacity: 1;
      transform:translateY(0);
    }
    25%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      transform:translateY(-30vh)
    }
  }

  @keyframes slideRightIn{
    0%{
      opacity: 0;
      transform:translateX(100%);
    }
    100%{
      opacity: 1;
      transform:translateX(0%)
    }
  }

  @keyframes fadeIn{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }

  @keyframes revealCard {
    0%{      
      transform:rotateY(180deg);
    }
    100%{      
      transform:rotateY(0deg);

    }
  }
}

@layer base{
  *:focus{
    @apply outline-none ring-2 ring-text-darker
  }

  html, body{
    max-width: screen;
    overflow-x: hidden;
  }

  html, dialog{
    background-color: var(--color-background);
    color: var(--color-text-body);  
  }

  h1,h2,h3,h4,h5,h6,q,strong,label{
    font-family: var(--font-header);
    letter-spacing: 0.095rem;
    font-weight: 300;
  }

  p,a,li,span,aside,em,i{
    font-family: var(--font-body-text);
    font-weight: 500;
  }

  button, select{
    @apply bg-accent-inner p-2 cursor-pointer
  }

  button, select{
    @apply rounded-md min-h-12 md:min-h-16 xl:min-h-10
  }

  input{
    @apply ring px-2 bg-black/30 rounded-md p-2
  }

  a{
    @apply text-text-darker decoration-text-darker underline decoration-dotted underline-offset-7 lg:underline-offset-4 hover:brightness-135 visited:text-card-accepted visited:decoration-card-accepted
  }
  
}

@layer components{

  .text-header{
    @apply font-header tracking-[0.095rem]
  }
  .button-invisible{
    @apply border-0 bg-transparent p-2 rounded-none underline underline-offset-4
  }
  .button-outlined{
    @apply bg-transparent ring-1 ring-text-body transition-transform duration-70 hover:ring-2 hover:ring-text-darker hover:-translate-y-0.5 focus:ring-2
  }
}

@utility overlay-noise {
  @apply absolute top-0 left-0 w-full h-full bg-[url(/img/noise.webp)] bg-no-repeat mix-blend-overlay;
  opacity: --value(percentage);
}


